body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
 background-repeat: no-repeat;
  background-size: cover;

  background-image: url('https://img.freepik.com/premium-photo/pink-paper-texture-background_118047-18018.jpg?semt=ais_hybrid&w=740&q=80');
}



.container {
  background: #222;
  color: #fff;
  padding: 20px;
  border-radius: 12px;
  width: 300px;
  text-align: center;
  position: relative;
  display: none;
  flex-direction: column;
}

input[type="radio"] {
  display: none;
}

.clickable-gif {
  cursor: pointer;
    z-index: 10;
    width: 300px;
}

.preview {
  align-items: center;
 gap: 10px;
  display: flex;
  flex-direction: column;
}

/* Кнопки */
label.button {
  background: #3498db;
  padding: 10px 20px;
  border-radius: 8px;
  margin-top: 15px;
  display: inline-block;
  cursor: pointer;
  transition: background 0.3s;
}

label.button:hover {
  background: #2980b9;
}

/* Секции контента */
.content {
  display: none;
  margin-top: 15px;
  transition: all 0.5s;
}

/* Показ выбранной секции */
#step1:checked ~ .content1,
#step2:checked ~ .content2,
#step3:checked ~ .content3 {
  display: block;
}

/* Эффект печатающей машинки */
.content p {
  overflow: visible; /* Скрывает текст, который ещё не напечатан */
  border-right: 2px solid #fff; /* Мигающий курсор */
  white-space: pre-wrap; /* Текст в одну линию */
  word-wrap: break-word;
  margin: 0 auto;
}
@keyframes blink-caret {
    50% { border-color: transparent; }
    
}
/* Анимация печати */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* Мигающий курсор */
@keyframes blink-caret {
  50% { border-color: transparent; }
}

img {
  width: 150px;
  border-radius: 12px;
  margin-top: 10px;
}

#pmb {
  background: #0783e1;
  padding: 10px 20px;
  border-radius: 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  border: none;
  margin-top: 20px;
  transition: background 0.3s, transform 0.3s;
 

}

#pmb:hover {
  background: #d81b60;
  transform: scale(1.05);
}

.happy {
 font-family: 'cursive';
   padding-right: 600px;
   font-size: 55px;
   transform: translateY(-60px);
   position: absolute;
   top: 30%;
  left: 4%;
}
.happy span {
display: inline-block;
opacity: 0;
transform: translateY(10px);
animation: appear 0.5s forwards;
margin: 2px;
font-size: 60px;
color:rgb(33, 1, 23);
}

.happy span:nth-child(1) { animation-delay: 0.1s;}
.happy span:nth-child(2) { animation-delay: 0.2s;}
.happy span:nth-child(3) { animation-delay: 0.3s;}
.happy span:nth-child(4) { animation-delay: 0.4s;}
.happy span:nth-child(5) { animation-delay: 0.5s;}
.happy span:nth-child(6) { animation-delay: 0.6s;}
.happy span:nth-child(7) { animation-delay: 0.7s;}
.happy span:nth-child(8) { animation-delay: 0.8s;}
.happy span:nth-child(9) { animation-delay: 0.9s;}
.happy span:nth-child(10) { animation-delay: 1s;}
.happy span:nth-child(11) { animation-delay: 1.1s;}
.happy span:nth-child(12) { animation-delay: 1.2s;}
.happy span:nth-child(13) { animation-delay: 1.3s;}
.happy span:nth-child(14) { animation-delay: 1.4s;}

.my {
  font-family: "Dancing Script", cursive;
    padding-right: 600px;
    transform: translateY(-60px);
    position: absolute;
    top: 54%;
    left: 4%;
}

.my span {
display: inline-block;
opacity: 0;
transform: translateY(10px);
animation: appear 0.5s forwards;
margin: 1px;
font-size: 40px;
color:rgb(33, 1, 23);
}

.my span:nth-child(1) { animation-delay: 1.8s;}
.my span:nth-child(2) { animation-delay: 1.9s;}
.my span:nth-child(3) { animation-delay: 2s;}
.my span:nth-child(4) { animation-delay: 2.1s;}
.my span:nth-child(5) { animation-delay: 2.2s;}   
.my span:nth-child(6) { animation-delay: 2.3s;}
.my span:nth-child(7) { animation-delay: 2.4s;}
.my span:nth-child(8) { animation-delay: 2.5s;}
.my span:nth-child(9) { animation-delay: 2.6s;}
.my span:nth-child(10) { animation-delay: 2.7s;}
.my span:nth-child(11) { animation-delay: 2.8s;}
.my span:nth-child(12) { animation-delay: 2.9s;}
.my span:nth-child(13) { animation-delay: 3s;}
.my span:nth-child(14) { animation-delay: 3.1s;}

@keyframes appear {
  to {
    opacity: 1;
    transform: translateY(30px);
  }
}

.sub-text {
  color: rgb(250, 247, 252);
  margin-top: 30px;
  font-size: 25px;

border-radius: 6px ;
text-align: right;
top: 16%;
right: 35%;
position: absolute;
font-family: 'cursive';

}

.ggg {
  width: 300px;
  height: 700px;
  position: absolute;
  top: 5%;
  right: 9%;
  z-index: 3;
}
